[Unit]
Description=Pi-hole FTL DNS
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/pihole-FTL
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target


